In [1]:
import pandas as pd

In [13]:
my_df = pd.read_excel('PSO20220223.xls')

In [14]:
my_df.head(2)

,NODO_1,NODO_2,DISTANCIA,TIPODIA,HORA_DESDE,HORA_HASTA,TR_OPTIMO,TR_MINIMO,TR_MAXIMO
0,Patio 20 de Julio,Patio Eldorado,18669,Habil,00:00:00,40:00:00,00:45:30,00:44:30,00:49:00
1,Patio 20 de Julio,Patio Suba,25397,Habil,00:00:00,40:00:00,01:06:30,01:05:15,01:11:45

In [4]:
my_df.groupby(['linea']).count()

KeyError: 'linea'

In [5]:
my_df.groupby(['NODO_1']).count()

,NODO_2,DISTANCIA,TIPODIA,HORA_DESDE,HORA_HASTA,TR_OPTIMO,TR_MINIMO,TR_MAXIMO
NODO_1,,,,,,,,
Aguas A - 1,187,187,187,187,187,187,187,187
Aguas A - 2 ó 5,187,187,187,187,187,187,187,187
Alcalá A - 2 ó 5,187,187,187,187,187,187,187,187
Alcalá A - 4 ó 6,187,187,187,187,187,187,187,187
Alcalá B - 4 ó 6,187,187,187,187,187,187,187,187
...,...,...,...,...,...,...,...,...
Tv. 86 B - 2 ó 5,261,261,261,261,261,261,261,261
Universidades A - 2 ó 5,187,187,187,187,187,187,187,187
Universidades A - 4 ó 6,187,187,187,187,187,187,187,187
Universidades B - 2 ó 5,187,187,187,187,187,187,187,187
Universidades B - 4 ó 6,187,187,187,187,187,187,187,187

In [6]:
my_df.groupby(['sentido']).count()

KeyError: 'sentido'

In [7]:
my_df.head(2)

,NODO_1,NODO_2,DISTANCIA,TIPODIA,HORA_DESDE,HORA_HASTA,TR_OPTIMO,TR_MINIMO,TR_MAXIMO
0,Patio 20 de Julio,Patio Eldorado,18669,Habil,00:00:00,40:00:00,00:45:30,00:44:30,00:49:00
1,Patio 20 de Julio,Patio Suba,25397,Habil,00:00:00,40:00:00,01:06:30,01:05:15,01:11:45

In [8]:
my_df.groupby(['linea'].size().reset_index(name='Prueba'))

AttributeError: 'list' object has no attribute 'size'

In [9]:
my_df.groupby(['linea'].count().reset_index(name='Prueba'))

TypeError: list.count() takes exactly one argument (0 given)

In [10]:
my_df.groupby(['linea'].count()

SyntaxError: incomplete input (2636401242.py, line 1)

In [11]:
g = my_df.groupby('linea')

KeyError: 'linea'

In [12]:
my_df = pd.read_excel('PSO20220223.csv')

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [15]:
my_df.head(2)

,NODO_1,NODO_2,DISTANCIA,TIPODIA,HORA_DESDE,HORA_HASTA,TR_OPTIMO,TR_MINIMO,TR_MAXIMO
0,Patio 20 de Julio,Patio Eldorado,18669,Habil,00:00:00,40:00:00,00:45:30,00:44:30,00:49:00
1,Patio 20 de Julio,Patio Suba,25397,Habil,00:00:00,40:00:00,01:06:30,01:05:15,01:11:45

In [16]:
g = my_df.groupby('nodo_2')

KeyError: 'nodo_2'

In [19]:
g = my_df.groupby('NODO_2').count()

In [20]:
my_df.groupby('NODO_2').count()

,NODO_1,DISTANCIA,TIPODIA,HORA_DESDE,HORA_HASTA,TR_OPTIMO,TR_MINIMO,TR_MAXIMO
NODO_2,,,,,,,,
Aguas A - 1,187,187,187,187,187,187,187,187
Aguas A - 2 ó 5,187,187,187,187,187,187,187,187
Alcalá A - 2 ó 5,187,187,187,187,187,187,187,187
Alcalá A - 4 ó 6,187,187,187,187,187,187,187,187
Alcalá B - 4 ó 6,187,187,187,187,187,187,187,187
...,...,...,...,...,...,...,...,...
Tv. 86 B - 2 ó 5,263,263,263,263,263,263,263,263
Universidades A - 2 ó 5,187,187,187,187,187,187,187,187
Universidades A - 4 ó 6,187,187,187,187,187,187,187,187
Universidades B - 2 ó 5,187,187,187,187,187,187,187,187
Universidades B - 4 ó 6,187,187,187,187,187,187,187,187

In [21]:
my_df.head(2)

,NODO_1,NODO_2,DISTANCIA,TIPODIA,HORA_DESDE,HORA_HASTA,TR_OPTIMO,TR_MINIMO,TR_MAXIMO
0,Patio 20 de Julio,Patio Eldorado,18669,Habil,00:00:00,40:00:00,00:45:30,00:44:30,00:49:00
1,Patio 20 de Julio,Patio Suba,25397,Habil,00:00:00,40:00:00,01:06:30,01:05:15,01:11:45

In [22]:
my_df = pd.read_excel('Prueba1.xlsx')

In [23]:
my_df.head(2)

,linea,nodo_1,nodo_2,distancia,descripcion,tipodia,hora_desde,hora_hasta,tr_optimo,tr_minimo,tr_maximo,trayecto,sentido,secuencia,tipo_arco
0,2,Portal Sur T6,Flores B - 4 ó 6,20688,A52 Flores,Habil,01:00:00,05:30:00,00:54:45,00:51:45,00:56:45,1453,1,1,1
1,2,Portal Sur T6,Flores B - 4 ó 6,20688,A52 Flores,Habil,05:30:00,06:30:00,01:00:30,00:56:45,01:03:30,1453,1,1,1

In [24]:
my_df.groupby('Nlinea').count()

KeyError: 'Nlinea'

In [25]:
my_df.groupby('linea').count()

,nodo_1,nodo_2,distancia,descripcion,tipodia,hora_desde,hora_hasta,tr_optimo,tr_minimo,tr_maximo,trayecto,sentido,secuencia,tipo_arco
linea,,,,,,,,,,,,,,
1,100,100,100,100,100,100,100,100,100,100,100,100,100,100
2,20,20,20,20,20,20,20,20,20,20,20,20,20,20
4,10,10,10,10,10,10,10,10,10,10,10,10,10,10
6,30,30,30,30,30,30,30,30,30,30,30,30,30,30
7,50,50,50,50,50,50,50,50,50,50,50,50,50,50
8,40,40,40,40,40,40,40,40,40,40,40,40,40,40
9,50,50,50,50,50,50,50,50,50,50,50,50,50,50
10,30,30,30,30,30,30,30,30,30,30,30,30,30,30
11,20,20,20,20,20,20,20,20,20,20,20,20,20,20
12,50,50,50,50,50,50,50,50,50,50,50,50,50,50
14,20,20,20,20,20,20,20,20,20,20,20,20,20,20
15,10,10,10,10,10,10,10,10,10,10,10,10,10,10
18,10,10,10,10,10,10,10,10,10,10,10,10,10,10
19,10,10,10,10,10,10,10,10,10,10,10,10,10,10
21,40,40,40,40,40,40,40,40,40,40,40,40,40,40
26,30,30,30,30,30,30,30,30,30,30,30,30,30,30
27,40,40,40,40,40,40,40,40,40,40,40,40,40,40
28,50,50,50,50,50,50,50,50,50,50,50,50,50,50
32,20,20,20,20,20,20,20,20,20,20,20,20,20,20
33,40,40,40,40,40,40,40,40,40,40,40,40,40,40
39,20,20,20,20,20,20,20,20,20,20,20,20,20,20
40,53,53,53,53,53,53,53,53,53,53,53,53,53,53
41,20,20,20,20,20,20,20,20,20,20,20,20,20,20
43,40,40,40,40,40,40,40,40,40,40,40,40,40,40
45,70,70,70,70,70,70,70,70,70,70,70,70,70,70
47,10,10,10,10,10,10,10,10,10,10,10,10,10,10
48,10,10,10,10,10,10,10,10,10,10,10,10,10,10
50,40,40,40,40,40,40,40,40,40,40,40,40,40,40
51,10,10,10,10,10,10,10,10,10,10,10,10,10,10
52,60,60,60,60,60,60,60,60,60,60,60,60,60,60
53,30,30,30,30,30,30,30,30,30,30,30,30,30,30
54,20,20,20,20,20,20,20,20,20,20,20,20,20,20
55,30,30,30,30,30,30,30,30,30,30,30,30,30,30
56,60,60,60,60,60,60,60,60,60,60,60,60,60,60
105,24,24,24,24,24,24,24,24,24,24,24,24,24,24
108,38,38,38,38,38,38,38,38,38,38,38,38,38,38
109,20,20,20,20,20,20,20,20,20,20,20,20,20,20
110,40,40,40,40,40,40,40,40,40,40,40,40,40,40
111,30,30,30,30,30,30,30,30,30,30,30,30,30,30
112,100,100,100,100,100,100,100,100,100,100,100,100,100,100
132,10,10,10,10,10,10,10,10,10,10,10,10,10,10
134,20,20,20,20,20,20,20,20,20,20,20,20,20,20
203,30,30,30,30,30,30,30,30,30,30,30,30,30,30
262,30,30,30,30,30,30,30,30,30,30,30,30,30,30
263,20,20,20,20,20,20,20,20,20,20,20,20,20,20
264,20,20,20,20,20,20,20,20,20,20,20,20,20,20
265,30,30,30,30,30,30,30,30,30,30,30,30,30,30
266,32,32,32,32,32,32,32,32,32,32,32,32,32,32
267,40,40,40,40,40,40,40,40,40,40,40,40,40,40
268,20,20,20,20,20,20,20,20,20,20,20,20,20,20
269,50,50,50,50,50,49,50,50,50,50,50,50,50,50
305,60,60,60,60,60,60,60,60,60,60,60,60,60,60
333,20,20,20,20,20,20,20,20,20,20,20,20,20,20
334,19,19,19,19,19,19,19,19,19,19,19,19,19,19

In [28]:
my_df.groupby('linea').count()

,nodo_1,nodo_2,distancia,descripcion,tipodia,hora_desde,hora_hasta,tr_optimo,tr_minimo,tr_maximo,trayecto,sentido,secuencia,tipo_arco
linea,,,,,,,,,,,,,,
1,100,100,100,100,100,100,100,100,100,100,100,100,100,100
2,20,20,20,20,20,20,20,20,20,20,20,20,20,20
4,10,10,10,10,10,10,10,10,10,10,10,10,10,10
6,30,30,30,30,30,30,30,30,30,30,30,30,30,30
7,50,50,50,50,50,50,50,50,50,50,50,50,50,50
8,40,40,40,40,40,40,40,40,40,40,40,40,40,40
9,50,50,50,50,50,50,50,50,50,50,50,50,50,50
10,30,30,30,30,30,30,30,30,30,30,30,30,30,30
11,20,20,20,20,20,20,20,20,20,20,20,20,20,20
12,50,50,50,50,50,50,50,50,50,50,50,50,50,50
14,20,20,20,20,20,20,20,20,20,20,20,20,20,20
15,10,10,10,10,10,10,10,10,10,10,10,10,10,10
18,10,10,10,10,10,10,10,10,10,10,10,10,10,10
19,10,10,10,10,10,10,10,10,10,10,10,10,10,10
21,40,40,40,40,40,40,40,40,40,40,40,40,40,40
26,30,30,30,30,30,30,30,30,30,30,30,30,30,30
27,40,40,40,40,40,40,40,40,40,40,40,40,40,40
28,50,50,50,50,50,50,50,50,50,50,50,50,50,50
32,20,20,20,20,20,20,20,20,20,20,20,20,20,20
33,40,40,40,40,40,40,40,40,40,40,40,40,40,40
39,20,20,20,20,20,20,20,20,20,20,20,20,20,20
40,53,53,53,53,53,53,53,53,53,53,53,53,53,53
41,20,20,20,20,20,20,20,20,20,20,20,20,20,20
43,40,40,40,40,40,40,40,40,40,40,40,40,40,40
45,70,70,70,70,70,70,70,70,70,70,70,70,70,70
47,10,10,10,10,10,10,10,10,10,10,10,10,10,10
48,10,10,10,10,10,10,10,10,10,10,10,10,10,10
50,40,40,40,40,40,40,40,40,40,40,40,40,40,40
51,10,10,10,10,10,10,10,10,10,10,10,10,10,10
52,60,60,60,60,60,60,60,60,60,60,60,60,60,60
53,30,30,30,30,30,30,30,30,30,30,30,30,30,30
54,20,20,20,20,20,20,20,20,20,20,20,20,20,20
55,30,30,30,30,30,30,30,30,30,30,30,30,30,30
56,60,60,60,60,60,60,60,60,60,60,60,60,60,60
105,24,24,24,24,24,24,24,24,24,24,24,24,24,24
108,38,38,38,38,38,38,38,38,38,38,38,38,38,38
109,20,20,20,20,20,20,20,20,20,20,20,20,20,20
110,40,40,40,40,40,40,40,40,40,40,40,40,40,40
111,30,30,30,30,30,30,30,30,30,30,30,30,30,30
112,100,100,100,100,100,100,100,100,100,100,100,100,100,100
132,10,10,10,10,10,10,10,10,10,10,10,10,10,10
134,20,20,20,20,20,20,20,20,20,20,20,20,20,20
203,30,30,30,30,30,30,30,30,30,30,30,30,30,30
262,30,30,30,30,30,30,30,30,30,30,30,30,30,30
263,20,20,20,20,20,20,20,20,20,20,20,20,20,20
264,20,20,20,20,20,20,20,20,20,20,20,20,20,20
265,30,30,30,30,30,30,30,30,30,30,30,30,30,30
266,32,32,32,32,32,32,32,32,32,32,32,32,32,32
267,40,40,40,40,40,40,40,40,40,40,40,40,40,40
268,20,20,20,20,20,20,20,20,20,20,20,20,20,20
269,50,50,50,50,50,49,50,50,50,50,50,50,50,50
305,60,60,60,60,60,60,60,60,60,60,60,60,60,60
333,20,20,20,20,20,20,20,20,20,20,20,20,20,20
334,19,19,19,19,19,19,19,19,19,19,19,19,19,19

In [29]:
col_max = my_df.max(axis=0)
col_max

C:\Users\MANDO\AppData\Local\Temp\ipykernel_8088\3931392747.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  col_max = my_df.max(axis=0)

linea                              334
nodo_1         Universidades B - 4 ó 6
nodo_2         Universidades B - 2 ó 5
distancia                        32901
descripcion         M51 MUSEO NACIONAL
tipodia                          Habil
hora_hasta                    30:00:00
tr_optimo                      1:26:23
tr_minimo                      1:19:45
tr_maximo                      1:33:32
trayecto                          1524
sentido                              2
secuencia                            3
tipo_arco                            1
dtype: object

In [30]:
col_max = df['tr_maximo'].max(axis=0)
col_max

NameError: name 'df' is not defined

In [31]:
col_max = my_df['tr_maximo'].max(axis=0)
col_max

'1:33:32'

In [32]:
my_df.groupby('linea', 'sentido').count()

ValueError: No axis named sentido for object type DataFrame

In [33]:
my_df.groupby('linea', 'sentido').count()

ValueError: No axis named sentido for object type DataFrame

In [34]:
my_df.groupby('linea', 'sentido').count(axis=0)

ValueError: No axis named sentido for object type DataFrame

In [36]:
max_index =my_df.idxmax()
max_index

TypeError: reduction operation 'argmax' not allowed for this dtype

In [37]:
my_df = df [['linea', 'sentido', 'tipodia']]

NameError: name 'df' is not defined

In [38]:
df = my_df [['linea', 'sentido', 'tipodia']]

In [39]:
df_max = df.groupby(['linea']).max

In [41]:
print (df_max)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000024579641F00>

In [42]:
df_max = df.groupby(['linea']).max

In [43]:
print (df_max)

<bound method GroupBy.max of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000245796419C0>>

In [47]:
df = my_df [['linea', 'sentido', 'tipodia', 'trayecto']]

In [85]:
df_g =df.groupby(['linea']).count()

In [86]:
print (df_g)

       sentido  tipodia  trayecto
linea
1          100      100       100
2           20       20        20
4           10       10        10
6           30       30        30
7           50       50        50
8           40       40        40
9           50       50        50
10          30       30        30
11          20       20        20
12          50       50        50
14          20       20        20
15          10       10        10
18          10       10        10
19          10       10        10
21          40       40        40
26          30       30        30
27          40       40        40
28          50       50        50
32          20       20        20
33          40       40        40
39          20       20        20
40          53       53        53
41          20       20        20
43          40       40        40
45          70       70        70
47          10       10        10
48          10       10        10
50          40       40        40
51          10       10        10
52          60       60        60
53          30       30        30
54          20       20        20
55          30       30        30
56          60       60        60
105         24       24        24
108         38       38        38
109         20       20        20
110         40       40        40
111         30       30        30
112        100      100       100
132         10       10        10
134         20       20        20
203         30       30        30
262         30       30        30
263         20       20        20
264         20       20        20
265         30       30        30
266         32       32        32
267         40       40        40
268         20       20        20
269         50       50        50
305         60       60        60
333         20       20        20
334         19       19        19